name: Docker CI streamlit

env:
  PREFIX: docker-apps
  DIRECTORY: streamlit-inference
  DOCKERREPO: seblum/model-inference
  VERSION: v1

on:
  push:
    branches: main
    paths: $DIRECTORY/**
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          file: ./${{ env.DIRECTORY }}/Dockerfile
          push: true
          tags: ${{ env.DIRECTORY }}:${{ env.VERSION }}
          #context: .
